.activity-log-item {
  display: flex;
  align-items: center;
  justify-content: start;
  border-bottom: 1px solid var(--border);
}

.activity-log-item h1 {
  margin-left: 15px;
  margin-right: 20px;
  flex: 1; /* takes up all available space, pushing date to the right */
  font-size: 27px;
}

.activity-log-item p {
  margin-left: auto; 
  white-space: nowrap; /* stops the date wrapping onto a new line */
  font-size: 27px;
}

.activity-dot {
  height: 1rem;
  width: 1rem;
  border-radius: 0.5rem;
  margin-right: 15px;
}

.dot-project { background: var(--conf-high)}
.dot-skill { background: var(--conf-max)}