.project-card {
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--border);
  flex-direction: column;
}

.project-card-left {
  display: flex;
}

.project-info {
  color: var(--text-h);
  display: flex;
  flex-direction: column;
}

.project-status {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 1vw;
  padding-right: 1vw;
  border-radius: 50px;
}

.in-progress { 
  color: var(--status-progress-text);
  background-color: var(--status-progress-bg);
}

.paused { 
  color: var(--status-paused-text);
  background-color: var(--status-paused-bg)
}

.completed {
  color: var(--status-completed-text);
  background-color: var(--status-completed-bg)
}

.project-stack {
  color: var(--text);
}

.buttons {
  margin-left: 40px;
  display: flex;
  align-items: center;
}

.edit-button {
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 15px;
  margin-right: 20px;
}

.editing-form {
  display: block
}

.project-add-button {
  font-size: 22px;
  background-color: var(--bg-primary);
  color: var(--text-h);
  border: 1px solid var(--border);
  border-radius: 20px;
  margin: 10px 10px;
  padding: 2px 30px;
  width: 20rem;
}

.project-add-button:hover {
  background-color: black;
  transition: background-color 0.5s;
  cursor: pointer;
}