.skill-text {
  margin-top: -25px;
}

.skill-left {
  flex: 1;
}

.skill-header {
  display: flex;
  margin-bottom: 35px;
}

.skill-container {
  background: var(--bg-secondary);
  padding: 3rem;
  border-radius: 20px;
}

.skill-add-button {
  font-size: 22px;
  background-color: var(--bg-primary);
  color: var(--text-h);
  border: 1px solid var(--border);
  border-radius: 20px;
  margin: 10px 10px;
  padding: 2px 30px;
  width: 20rem;
}

.skill-add-button:hover {
  background-color: black;
  transition: background-color 0.5s;
  cursor: pointer;
}